Within this file you will be create the following dataframes and save them as a csv files into your folder `data/csv`.

* monthly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available months
* yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years
* yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years along with harvest data (`million_60kgs_bag`, `nonbear_mill_trees`, `bear_mill_trees`, `avg_unemp_perc`) for each respective year

In [10]:
import os
import pandas as pd

In [11]:
os.getcwd()

'/Users/sa17/Desktop/projects/projects/weather_api/notebooks'

In [12]:
df = pd.read_csv("/Users/sa17/Desktop/projects/projects/weather_api/data/csv/data.csv")

df

,time,temperature,relative humidity,precipitation,surface pressure
0,2022-01-01T00:00,18.0,96,0.0,906.6
1,2022-01-01T01:00,18.2,95,0.1,907.4
2,2022-01-01T02:00,18.0,96,0.1,907.2
3,2022-01-01T03:00,17.9,97,0.3,906.5
4,2022-01-01T04:00,17.8,98,1.0,905.9
...,...,...,...,...,...
17515,2023-12-31T19:00,26.5,75,0.5,908.8
17516,2023-12-31T20:00,25.9,78,0.5,908.4
17517,2023-12-31T21:00,25.2,82,0.5,908.5
17518,2023-12-31T22:00,24.0,85,3.2,909.0
17519,2023-12-31T23:00,22.7,87,3.2,909.8

In [13]:
# Convert the `time` column into a datetime data-type

df["time"] = pd.to_datetime(df["time"])

df.set_index("time", inplace=True)

df

,temperature,relative humidity,precipitation,surface pressure
time,,,,
2022-01-01 00:00:00,18.0,96,0.0,906.6
2022-01-01 01:00:00,18.2,95,0.1,907.4
2022-01-01 02:00:00,18.0,96,0.1,907.2
2022-01-01 03:00:00,17.9,97,0.3,906.5
2022-01-01 04:00:00,17.8,98,1.0,905.9
...,...,...,...,...
2023-12-31 19:00:00,26.5,75,0.5,908.8
2023-12-31 20:00:00,25.9,78,0.5,908.4
2023-12-31 21:00:00,25.2,82,0.5,908.5
2023-12-31 22:00:00,24.0,85,3.2,909.0
2023-12-31 23:00:00,22.7,87,3.2,909.8

In [18]:
# Monthly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available months

monthly = df.resample("1ME")["temperature", "relative humidity", "precipitation", "surface pressure"].median()

monthly.index = monthly.index.to_period("M")

monthly.rename_axis("month", inplace=True)

monthly.to_csv("/Users/sa17/Desktop/projects/projects/weather_api/data/csv/monthly.csv")

monthly

         temperature  relative humidity  precipitation  surface pressure
month
2022-01        19.10               92.0            0.1            908.70
2022-02        19.10               92.0            0.0            909.20
2022-03        19.80               84.0            0.0            910.10
2022-04        18.45               83.0            0.0            911.30
2022-05        14.80               79.0            0.0            912.40
2022-06        15.40               73.0            0.0            913.10
2022-07        15.85               59.0            0.0            914.40
2022-08        16.70               56.0            0.0            914.00
2022-09        18.60               61.0            0.0            912.30
2022-10        19.80               72.0            0.0            910.70
2022-11        18.80               78.0            0.0            910.80
2022-12        20.40               86.0            0.0            910.50
2023-01        20.50               88.0            0.1            911.80
2023-02        21.80               86.0            0.0            912.60
2023-03        21.65               82.0            0.0            913.40
2023-04        19.70               81.0            0.0            912.80
2023-05        17.30               76.0            0.0            914.80
2023-06        15.80               78.0            0.0            916.10
2023-07        16.70               72.0            0.0            916.50
2023-08        18.80               69.5            0.0            915.30
2023-09        23.00               60.0            0.0            914.25
2023-10        22.60               80.0            0.0            912.20
2023-11        23.90               71.5            0.0            911.50
2023-12        23.30               76.0            0.0            911.80

In [20]:
# Yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years

yearly = df.resample("1YE")["temperature", "relative humidity", "precipitation", "surface pressure"].median()

yearly.index = yearly.index.year

yearly.rename_axis("year", inplace=True)

yearly.to_csv("/Users/sa17/Desktop/projects/projects/weather_api/data/csv/yearly.csv")

yearly

      temperature  relative humidity  precipitation  surface pressure
year
2022         18.6               78.0            0.0             911.4
2023         20.7               78.0            0.0             913.4

In [16]:
# Yearly medians on `temperature`, `relative humidity`, `precipitation`, and `surface pressure` for all available years along with harvest data (`million_60kgs_bag`, `nonbear_mill_trees`, `bear_mill_trees`, `avg_unemp_perc`) for each respective year present for Minas Gerais

df2 = pd.read_csv("/Users/sa17/Desktop/projects/projects/weather_api/data/csv/br_final.csv")

df2 = pd.DataFrame(df2)[["year","subdivision", "million_60kgs_bag", "nonbear_mill_trees", "bear_mill_trees", "avg_unemp_perc"]]

df2 = df2[df2["subdivision"] == "Minas Gerais"]

df2 = df2[df2["year"] >= 2022]

df2.set_index("year", inplace=True)

df2

,subdivision,million_60kgs_bag,nonbear_mill_trees,bear_mill_trees,avg_unemp_perc
year,,,,,
2022,Minas Gerais,24.5,1500.0,6010.0,7.15
2023,Minas Gerais,28.5,1510.0,6100.0,NaN

In [21]:
# Merge yearly dataframe with Minas Gerais yearly

merge_df = pd.merge(df2, yearly, on="year", how="outer")

merge_df.to_csv("/Users/sa17/Desktop/projects/projects/weather_api/data/csv/mg_yearly.csv")

merge_df

,subdivision,million_60kgs_bag,nonbear_mill_trees,bear_mill_trees,avg_unemp_perc,temperature,relative humidity,precipitation,surface pressure
year,,,,,,,,,
2022,Minas Gerais,24.5,1500.0,6010.0,7.15,18.6,78.0,0.0,911.4
2023,Minas Gerais,28.5,1510.0,6100.0,NaN,20.7,78.0,0.0,913.4